:root{
    --primary-color:#85C94F;
}
.sdt{
    
    display: flex;
    padding-top: 3px;
}
.sdt1{
    font-size: 18px;
}
.gach{
    color: #e5e5e5;
    margin-left: 40px;
}
.dc{
    padding-top: 5px ;
    display: flex;
}
.sdtdc{
    justify-content: center;
    display: flex;
    gap: 40px;
    height: 35px;
}
.icon{
    color: var(--primary-color);
    font-size: 22px;
    margin-top:16px;
    margin-right: 12px;
}
header{
    display: flex;
    gap:100px;
}
.logo{
    margin-left: 135px;
}
.search{
    display: flex;
    /*do day*/
    border:1px solid #e5e5e5;
    height: 50px;
    margin-top:30px;
    border-radius: 6px;
}
input{
    width: 790px;
    border-radius: 6px;
    border:none;
    outline: none;
    padding-left: 10px;
}
.nuttimkiem{
    width: 80px;
    border:none;
}
.nuttimkiem:hover{
    background-color: var(--primary-color);
    color:white;
}
body{
    margin: 0;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}
main{
    padding: 5px;
}
.nd{
    margin-top: 20px;
    display: flex;
    background-color:#F1F1F1;
    justify-content: center;
    width: 100%;
    gap:18px;
}
.tab{
    display:flex;
    align-items: center;
    padding: 15px 8px;
    cursor: pointer;
}
.tab:hover{
    background-color: var(--primary-color);
    color: #F1F1F1;
}
.imageChange{
    width:300px;
    height:100px;
}
.imageChange1{
    padding-top:25px;
    margin-left: 125px;
    width: 1261px;
    height: 440px;
}
.ten{
    margin-left: 120px;
    padding-top: 10px;
}
.khunganh{
    margin-left: 13px;
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 10px;
}
.imageChange2{
    width: 350x;
    height: 200px;
}
.thongtin{
    width: 180px;
    height: 40px;
    text-align: center;
    margin-left: 2px;
}
.money{
    margin-left: 8px;
    color:  var(--primary-color);
}
.button:hover{
    background-color: var(--primary-color);
    color:white;
}
.button{
    width: 90px;
    height: 30px;
    margin-left: 55px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #ada1a1;
}
.end{
    padding-top: 35px;
    width: 100%;
}
.end1{
    box-sizing: border-box;
    padding-top: 25px;
    height: 350px;
    width: 100%;
    background-color:#202020;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-left: 120px;
    padding-right:120px;
}
.hr{
    color: #e5e5e5;
    opacity: 0.5;
}
.imgbct{
    width: 365px;
    height: 155px;
}
.k1{
    color:#4A4A4A;
    font-size: 20px;
}
.k2{
    width: 390px;
}
.d1{
    color:white;
    padding-bottom:20px;
}
.fu{
    width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.imageChange2{
    width: 90%;
    object-fit: contain;
}
.khunganh1:hover{
    border: 1px solid var(--primary-color);
    
}
.khunganh1{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    padding-bottom:20px;
    border-radius:20px ;

}
.p1{
    color: var(--primary-color);
    /* in đậm*/
    font-weight: 900;
}
.end2{
    color: #898989;
    background-color: #121212;
    text-align: center;
    display: flex;
    justify-content: center;
}
.hoverk1:hover{
    color: var(--primary-color);
}
/* tro chuot*/ 
.hoverk1{
    cursor: pointer;
    color: #898989;
    /* tắt gạch chân*/
    text-decoration: none;
}